
.game{
    /* align-items por defecto tiene el valor `stretch` */
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;
}

#gamecontainer {
    width: 1306px;
    height: 700px;
    background: url(../assets/Inicio/fondo.png);
    align-items: center;
    position: absolute;
    margin: 0%;
    
}

.gamelayer {
    display: none;
    position:fixed;
    left:30px;
	top: 400px;

}

*[onclick] {
    cursor: pointer;
}

#loadingGame {
    text-align: center;
    display: block;
    position:relative;
}

#regla {
    text-align: center;
    display: block;
    position:relative;
}

#gameReglas{
    background: url(../assets/reglas/Comojugar.png);

}




